{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME HISTORY</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
    <!--navbar-->
    <div class="container-fluid position-relative" id="navbar">
        <div class="row" id="header">
            <div class="col-md-4 d-flex justify-content-center">
                <a href="{% url 'index' %}" class="nav_item" id="main_text">ГЛАВНОЕ</a>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <a href="{% url 'news_page' %}" class="nav_item">НОВОСТИ</a>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="text-success" src="{% static 'images/person-circle.svg' %}" alt="">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">Профиль</a></li>
                        <li><a class="dropdown-item" href="{% url 'tasks_page' %}">Задания</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--main-->
    <div class="container-fluid position-relative h-100">
        <div class="row d-flex justify-content-center">
            <div class="col-10 p-5 main">
                <div class="row">
                    <div class="col"><h1><b>{{ user.last_name }} {{ user.first_name }}</b> {{ user.grade }} {{ user.grade_letter }}</h1></div>
                    <img src="{% static 'images/person.svg' %}" alt="..." class="img-thumbnail">
                    <a href="{{ MEDIA_URL }}untitled.pdf" download="{{ MEDIA_URL }}untitled.pdf">Download</a>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <div class="container-fluid position-relative footer">
        <div class="row h-100 d-flex align-items-center">
            <div class="col-6 d-flex justify-content-start">
                <img src="{% static 'images/telegram.svg' %}" alt="">
                <h1>@lyazzat_koldasbayevna</h1>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <h1>HOME HISTORY</h1>
            </div>
        </div>
    </div>
    {% else %}
        {% url 'login' %}
    {% endif %}
</body>
</html>